.ContainerCardWidget{
    .ContainerImgP{align-items: flex-end;
        svg{ color: black;}
        justify-content: center;
    }
}

.cart {
    padding-left: 10px;
    padding-top: 5px;
    width: 60px;
    height: auto;
}
